<!DOCTYPE html>
<html>
<head>
	<title>Ola's Blog</title>
</head>
<body>
	<div>
		<h2>My First post</h2>
		<h4>By <i>Adriano Almeida</i></h4>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		<p><strong>Publised: 24-02-2018 at 19:35</strong></p>
	</div>

	<div>
		<h2>My Second post</h2>
		<h4>By <i>Adriano Almeida</i></h4>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		<p><strong>Publised: 24-02-2018 at 19:35</strong></p>
	</div>

	<div>
		<h2>My Third post</h2>
		<h4>By <i>Adriano Almeida</i></h4>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		<p><strong>Publised: 24-02-2018 at 19:35</strong></p>
	</div>
</body>
</html>